{% extends "base.html" %}

{% block title %}Lista de Itens{% endblock %}

{% block content %}
<h2>Estoque Atual</h2>
<table border="1">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Quantidade</th>
            <th>Unidade</th>
            <th>Observações</th>
        </tr>
    </thead>
    <tbody>
        {% for item in itens %}
        <tr>
            <td>{{ item.nome }}</td>
            <td>{{ item.tipo }}</td>
            <td>{{ item.quantidade }}</td>
            <td>{{ item.unidade }}</td>
            <td>{{ item.observacoes }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
